body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: #2F4351;
    height: 90px;
    color: white;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 100px;
    margin-left: -30px;
    margin-right: -30px;
}
.head{
	top: -30px;
}
.subhead{
	color: #F7CE06;
	font-family: Arial;
	text-align: center;
	background-color: #3B5367;
	padding-top: 10px;
}
.about{
	color: black;
	background-color: #F7CE06;
	font-family: Arial;
	padding:20px;
	margin-right: 100px;
	margin-left: 100px;
}
.pic{
	margin-left: 70px;
}
.cont{
margin-bottom: 300px;
}